h1 {
    color: darkgrey;
    font-size: 75px;
    font-family: 'Cabin', sans-serif;
    text-align: center;
}

.jumbotron {
    color:#0069BA;
    background-color: #00213B;
}

.inputs {
    padding-left: 29%;
    text-align: center;
    font-size: 20px;
    max-width: 75%;
    font-family: 'Asap', sans-serif;
    color:#008EFA;
}

.form-control {
    margin-top: 15px;
    border: none;
    background-color: rgba(255,255,255,0);
    padding: 10px 10px;
    font-size:30px;
    color:#B8E8FF;
}

body {
    /* background-image: url("wallpaper.png"); */
    background-color: #00457A;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
}

.icons {
    width: 75px;
}

.userinput {
    padding-top:20%;
    padding-bottom:80%;
}

.form-group {
    font-size: 250%;
}

html {
    scroll-behavior: smooth;
}

.dropdown {
    font-size: 150%;
    max-width: 100px;   
}

.submitbutton {
    padding-bottom: 20%;
}

.nextbutton {
    transition: all 0.5s;
    box-shadow: 0 9px #999;
}

.nextbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.nextbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.nextbutton:hover span {
    padding-right: 25px;
}

.nextbutton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.nextbutton:hover span:after {
    opacity: 1;
    right: 0;
}

.dropdownmenu {
    font-size: 40%;
}

#howlong {
    font-family: Quattrocento Sans;
    border-style: dotted;
    font-size: 50px;
}